.search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.home-main{
    padding: 0 3rem;
}
.input-search{
    width: 80%;
    padding: 1rem 2rem;
    border: 1px solid rgba(128, 128, 128, 0.548);
    border-radius: .2rem;
}
.flex-responsive{
    display: flex;
    justify-content: center;
    row-gap: 3rem;
    gap: 1rem;
    flex-wrap: wrap;

}