.back-button {
    text-decoration: none;
    background-color: #fff;
    display: inline-block;
    margin: 2rem 0;
    border: 1px solid #0000003b;
    padding: .5rem 1.5rem;
    border-radius: .2rem;
}

.country-card-detail-container {
    width: 90%;
    margin: 0 auto;
}

.detail-image {
    width: 100%;
    max-width: 23rem;
}

.detail-name {
    font-weight: 900;
}

.detail-info {
    font-weight: 400;
}

.detail-lower {
    margin-top: 3rem;
}

.detail-lower :last-child {
    margin-top: 0;
}

.detail-lower :first-child {
    margin-bottom: .5rem;
}

@media only screen and (min-width: 600px) {

    .detail-image {
        width: 20rem;
    }

    .country-card-detail-container {
        width: 50%;
    }
}

@media only screen and (min-width: 800px) {
    .detail-information-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }

    .detail-name {
        margin-top: 0;
    }
    .detail-image{
        width: 100%;
    }
    .country-card-detail-container {
        width: 80%;
    }
}